body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.banner {
    height: auto;
    background-image: url(banner.png);
    color: #ffffff;
    
}

.margin {
    margin: auto;
    width: 90%;
}

.menu {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    
}

.lh {
    padding: 50px 0;
    
}

.rh {
    margin-top: 50px;
    
}

.lh li {
    display: inline-block;
    margin-right: 20px;
}

.rh li {
    display: inline-block;
    margin-left: 20px;
}
/* fix from here */

.bannertext {
    display: contents;
    float: left;
    
}

.bigtext {
    width: 450px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-weight: bolder;
    margin: 0px;
}

.smalltext {
    width: 380px;
    color: #ffffff;
    line-height: 25px;
    margin: 0%;
    padding: 0px;
    
}

button {
    
    margin: 25px 0;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 30px;
    cursor: pointer;
    color: #fff;
    background-color: #FD5D65;
    border: none;
        
}

.midbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5%;
    gap: 50px;
}