body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}

.banner {
    height: 1094px;
    /* width: auto; */
    background-image: url(banner.png);
    color: #ffffff;
    /* position: relative; */
}

.menu {
    display: block;
    border: 1px solid black;
}

.lh {
    margin-top: 50px;
    float: left;
}

.rh {
    margin-top: 50px;
    float: right;
}

li {
    display: inline-block;
    padding: 20px;
}
/* fix from here */

.bannertext {
    display: contents;
    float: left;
    
}

.bigtext {
    width: 450px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-weight: bolder;
    margin: 0px;
}

.smalltext {
    width: 380px;
    color: #ffffff;
    line-height: 25px;
    margin: 0%;
    padding: 0px;
    
}

button {
    
    margin-top: 20px;
    border-radius: 25px;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #FD5D65;
    border: none;
        
}
